NEXTAUTH_SECRET=gerar-um-secret-forte
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=https://hearty-inspiration-production-1d10.up.railway.app

ADMIN_USER=admin
ADMIN_PASS=admin123
SECRETARY_USER=secretaria
SECRETARY_PASS=secretaria123
PARTNER_USER=socio
PARTNER_PASS=socio123
DOCTOR_USER=dra.bruna
DOCTOR_PASS=bruna123
